---
import { DEFAULT_HERO_IMAGE } from '../consts';
import { getCollection } from 'astro:content';
import { ClientRouter } from 'astro:transitions';

import FormattedDate from './FormattedDate.astro';

const posts = (await getCollection('blog')).sort(
	(a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<ClientRouter />
		<style>
			main {
				width: 1080px;
			}
			ul {
				display: flex;
				flex-wrap: wrap;
				gap: 2rem;
				list-style-type: none;
				margin: 0;
				padding: 0;
			}
			ul li {
				width: calc(50% - 1rem);
			}
			ul li * {
				text-decoration: none;
				transition: 0.2s ease;
			}
			ul li img {
				margin-bottom: 0.5rem;
				border-radius: 12px;
			}
			ul li a {
				display: block;
			}
			.title {
				margin: 0 0 0.2em 0;
				color: rgb(var(--black));
				line-height: 1.3;
			}
			ul li a:hover h4,
			ul li a:hover .date {
				color: rgb(var(--accent));
			}
			ul a:hover img {
				box-shadow: var(--box-shadow);
			}
			@media (max-width: 720px) {
				ul {
					gap: 0.5em;
				}
				ul li {
					width: 100%;
					text-align: center;
				}
				ul li:first-child {
					margin-bottom: 0;
				}
				ul li:first-child .title {
					font-size: 1.563em;
				}
			}
		</style>
	</head>
	<body>
		<main>
			<section>
				<ul>
					{
						posts.map((post) => (post.data.draft == null || post.data.draft == false) && (
							<li>
								<a href={`/blog/${post.slug}/`}>
									{
										post.data.heroImage === undefined ?
										<img width={720} height={360} src={DEFAULT_HERO_IMAGE} alt="" /> :
										<img width={720} height={360} src={post.data.heroImage} alt="" />		
									}
									<h4 class="title">{post.data.title}</h4>
									<div class="postmetadata">
										<FormattedDate date={post.data.pubDate} />
										{
											post.data.tags.map((tag) => (
											<div class="tags">{tag}</div>
											))
										}
									</div>
								</a>
							</li>
						))
				</ul>
			</section>
		</main>
	</body>
</html>
